.fondo {
    min-width: 98vw;
    min-height: 98vh;
}

.pantalla {
    min-width: 98vw;
    min-height: 98vh;
    background-color: rgba(255, 255, 255, 0.6);
}

.login {
    background-color: rgba(100, 98, 98, 0.75);
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.85);
}

.imagen_logo {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px
}

@media (max-width: 700px) {
    .imagen_logo {
        margin: 5%;
        align-items: center;
    }
}

@media (min-width: 701px) {
    .imagen_logo {
        margin: 20%;
        align-items: center;
    }
}