.btn-sombra {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-outline{
    -webkit-box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.85);
    -moz-box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.85);
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.85);
}
