.btn-sombra {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-outline{
    -webkit-box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.85);
    -moz-box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.85);
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.85);
}

.btn-accion-tabla {
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}

.box-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0;
}

.img-circle {
    background-color: white;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
}

label.requerido:after {
    content: ' *';
    color: red;
}

